$bg: #ecf1ed;
$text: #3a3f38;
$textSmall: #818181;
$grey: #50534f;
$white: #ffffff;
$black: #000000;
$green: #35c71d;
$red: #ff0000;
$greenHover: #23a40e;
$disabled: #a8b2a7;

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin flexColCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin transition {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
